---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family:  Helvetica, "Helvetica Neue", Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 600;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: #b1b1b1;
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          550px;
$on-laptop:        780px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.dont-break-out {

  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

}

@import
        "normalize",
        "base",
        "layout",
        "color",
        "syntax-highlighting"
;

/* This is an example of CSS. Maybe you want to implement the css code into your main css file or modify it as you want */
   nav.breadcrumbs.bootstrap {
      /* from Twitter Bootstrap 4 */
      /* If you already use Twitter, you do not need these css lines above, cause they already in Twitter Bootstrap */
      /* Additions: image integration */
   }

   nav.breadcrumbs.bootstrap ol {
      margin-left: 0
   }

   nav.breadcrumbs.bootstrap .breadcrumb {
      font-size: 1.4rem;
      padding: 0.75rem 1rem;
      margin-bottom: 1rem;
      list-style: none;
      background-color: #f1f2ed;
      border-radius: 0.25rem;
   }

   nav.breadcrumbs.bootstrap .breadcrumb::after {
      content: "";
      display: table;
      clear: both;
   }

   nav.breadcrumbs.bootstrap .breadcrumb-item {
      float: left;
   }

   nav.breadcrumbs.bootstrap .breadcrumb-item+.breadcrumb-item::before {
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: #818a91;
      content: "/";
   }

   nav.breadcrumbs.bootstrap .breadcrumb-item+.breadcrumb-item:hover::before {
      text-decoration: underline;
   }

   nav.breadcrumbs.bootstrap .breadcrumb-item+.breadcrumb-item:hover::before {
      text-decoration: none;
   }

   nav.breadcrumbs.bootstrap .breadcrumb-item-active {
      color: #818a91;
   }

   nav.breadcrumbs.bootstrap .breadcrumb .icon {
      display: inline-block;
   }

   nav.breadcrumbs.bootstrap .breadcrumb .icon svg {
      height: 0.8rem;
      width: 0.8rem;
   }